@font-face {
  font-family: 'Amatic SC';
  src: url(./fonts/Amatic_SC/AmaticSC-Regular.ttf);
}

@font-face {
  font-family: 'Amatic SC';
  font-weight: bold;
  src: url(./fonts/Amatic_SC/AmaticSC-Bold.ttf);
}

@font-face {
  font-family: 'Sofia Sans';
  src: url(./fonts/Sofia_Sans/SofiaSans-VariableFont_wght.ttf);
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Sofia Sans', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  /* color: #484848; */
  font-size: 20px;
  margin: 0;
}

button {
  cursor: pointer;
}
